[Unit]
Description=Keycloak server
After=syslog.target {% if keycloak.database.vendor == "postgres" %}postgresql.service{% endif %} network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User={{ keycloak.user }}
Group={{ keycloak.user }}

{# the prefix "-" indicates that if the file does not exist, it will not be read
and no error or warning message is logged. This suits our purposes perfectly.
+ https://unix.stackexchange.com/questions/404199/documentation-of-equals-minus-in-systemd-unit-files
+ https://stackoverflow.com/questions/57736702/what-does-hyphen-before-slash-in-systemctl-service-file
+ https://serverfault.com/questions/413397/how-to-set-environment-variable-in-systemd-service
We set the credentials of the initial admin account in this envfile, which we
create at the start of this role and then delete at the end of it, thus letting
the Keycloak service start with the credentials available, while avoiding
permanently storing the credentials on disk #}
EnvironmentFile=-{{ keycloak.admin.envfile }}
ExecStart={{ keycloak.install_dir }}/bin/kc.sh start --optimized
ExecStop={{ keycloak.install_dir }}/bin/kc.sh stop
WorkingDirectory={{ keycloak.install_dir }}

{# https://github.com/keycloak/keycloak/issues/10357#issuecomment-1257289831 #}
Restart=on-failure
RestartSec=2s
# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0
# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM
# Send the signal only to the JVM rather than its control group
KillMode=process
# Java process is never killed
SendSIGKILL=no
# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=0 143
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
